---
import Layout from 'src/layouts/Layout.astro';
---

<Layout title="テンプレート" description='これはヘッダーとフッターのテンプレートページです。'>
<main>
    <article>
        <hgroup>
          <h1>テンプレート</h1>
          <p>
            これはヘッダーとフッターのテンプレートページです。使用する場合<code
              class="code-inline"
              >&lt;head&gt;</code
            >内の<code class="code-inline">title</code>と<code
              class="code-inline"
              >description</code
            >を変更します。
          </p>
        </hgroup>
      </article>
    </main>
</Layout>
