/* === ライト/ダークモード対応 === */
/* ライトモード */
:root {
    --background-color: #fbf1c7;
    --text-color: #242424;

    --border-color: darkgray;

    --blockquote-color: darkgray;

    --link-basecolor: #8a5cf5;
    --link-color: #6a36dd;
    --link-hover-color: #4a1da3;

    --code-inline-text-color: #c7254e;
    --code-inline-background-color: #f9f2f4;
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #282420;
        --text-color: lightgray;

        --border-color: dimgray;

        --blockquote-color: dimgray;

        --link-color: #8a5cf5;
        --link-hover-color: #c5b6fc;

        --code-inline-text-color: #ff4d79;
        --code-inline-background-color: #3a262c;
    }
}

/* === モバイル対応 === */
@media (max-width: 767px) {
    .indent {
        margin-left: 1rem;
    }
}

*,
*::before,
*::after {
    font-family: inherit;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

    transition:
        background-color 0.5s,
        color 0.5s;

    margin: 0 2rem;

    width: 100%;
    max-width: 767px;

    font-family:
        ui-sans-serif,
        system-ui,
        /* Mac/iOS向けシステムフォント */ -apple-system,
        /* レガシーMac/iOS向けシステムフォント */ blinkmacsystemfont,
        sans-serif;
}

header {
    border-bottom: 1px solid var(--border-color);

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration-line: none;
        color: var(--text-color);
    }
}

footer {
    border-top: 1px solid var(--border-color);
    margin: 2em 0;
}

/* リンクの大きさは24px以上のルールを満たす https://dequeuniversity.com/rules/axe/4.11/target-size */
a {
    display: inline-block;
    min-height: 24px;

    &:link,
    &:visited {
        color: var(--link-color);
    }

    &:hover,
    &:active {
        color: var(--link-hover-color);
    }
}

blockquote {
    border-left: 0.25em solid var(--blockquote-color);
    margin: auto 0;
    padding: 0 0 0 1em;
}

code.code-inline {
    display: inline;
    color: var(--code-inline-text-color);
    background-color: var(--code-inline-background-color);
    padding: 0.15em 0.3em;
    margin: 0 0.2em;
    border-radius: 3px;
    font-size: 0.9em;
    font-family: ui-monospace, monospace;
    white-space: nowrap;
}

math {
    font-family: math, ui-serif;
}

.profile-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.indent {
    margin-left: 2rem;
}
