/* === ライト/ダークモード対応 === */
/* ライトモード */
:root {
    --background-color: #fbf1c7;
    --text-color: #242424;

    --border-color: darkgray;

    --blockquote-color: darkgray;

    --link-basecolor: #8a5cf5;
    --link-color: #6a36dd;
    --link-hover-color: #4a1da3;

    --code-inline-text-color: #c7254e;
    --code-inline-background-color: #f9f2f4;
    --code-block-background-color: #ffffff;
    --code-block-title-background-color: #e8e8e8;
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #282420;
        --text-color: lightgray;

        --border-color: dimgray;

        --blockquote-color: dimgray;

        --link-color: #8a5cf5;
        --link-hover-color: #c5b6fc;

        --code-inline-text-color: #ff4d79;
        --code-inline-background-color: #3a262c;
        --code-block-background-color: #303030;
        --code-block-title-background-color: #202020;
    }
}

/* === モバイル対応 === */
@media (max-width: 767px) {
    /* インデントの解除 */
    figure.code-block-container,
    blockquote {
        margin: auto 0;
    }

    figure.code-block-container {
        margin: auto -2em;
    }
}

*,
*::before,
*::after {
    font-family: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

    transition:
        background-color 0.5s,
        color 0.5s;

    margin: 0 2em;

    font-family:
        ui-sans-serif,
        system-ui,
        /* Mac/iOS向けのシステムフォント */ -apple-system,
        /* レガシーなMac/iOS向け */ blinkmacsystemfont,
        sans-serif;
}

header {
    border-bottom: 1px solid var(--border-color);

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration-line: none;
        color: var(--text-color);
    }
}

footer {
    border-top: 1px solid var(--border-color);
    margin: 2em 0;
}

/* リンクの大きさは24px以上のルールを満たす https://dequeuniversity.com/rules/axe/4.11/target-size */
a {
    display: inline-block;
    min-height: 24px;

    &:link,
    &:visited {
        color: var(--link-color);
    }

    &:hover,
    &:active {
        color: var(--link-hover-color);
    }
}

blockquote {
    border-left: 0.25em solid var(--blockquote-color);
    padding: 0 0 0 1em;
}

code {
    font-family: ui-monospace, monospace;
    font-size: 0.9em;

    &.code-inline {
        display: inline-block;

        color: var(--code-inline-text-color);
        background-color: var(--code-inline-background-color);

        margin: 0 0.25em;
        padding: 0.1em 0.2em;
    }

    &.code-block {
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
}

figure {
    &.code-block-container {
        position: relative;
        background-color: var(--code-block-background-color);
        padding: 2em 1.5em;
    }
}

figcaption {
    &.code-block-title {
        position: absolute; /* 絶対配置にする */
        top: 0; /* コンテナの最上部に合わせる */
        left: 1em; /* コンテナの左パディング位置に合わせる */

        background-color: var(--code-block-title-background-color);
        padding: 0.1em 0.5em;
        width: fit-content;
    }
}

pre {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

math {
    font-family: math, ui-serif;
    font-size: 1.5em;
}

.profile-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.indent {
    margin-left: 2rem;
}
