---
import Layout from 'src/layouts/Layout.astro';
---

<Layout title="プロフィール" description="白捌のプロフィールです。">
  <article>
    <hgroup>
      <h1>プロフィール</h1>
      <p>白捌のプロフィールです。</p>
    </hgroup>
    <h2>自己紹介</h2>
    <p>
      白捌(はくはつ)です。ソフトウェア開発や競技プログラミング、その他技術的な実験をします。
    </p>
    <h2>アイコン</h2>
    <p>現在のアイコンは道端で撮ったツバメシジミを使用しています。</p>
    <img
      class="profile-image"
      src="/images/hakhatz2486_256.webp"
      alt="草の上に止まるツバメシジミの写真"
      width="256"
      height="256"
      fetchpriority="high"
    />
    <h2>趣味</h2>
    <ul>
      <li>サバゲー</li>
      <li>日記</li>
      <li>散歩</li>
      <ul>
        <li>雑草撮影</li>
      </ul>
      <li>ゲーム</li>
      <ul>
        <li>にゃんこ大戦争</li>
        <li>Eatventure</li>
        <li>Chess.com - タクティクス</li>
      </ul>
    </ul>
  </article>
</Layout>
