---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="hakahatz.dev">
    <main>
        <article>
            <hgroup>
                <h1>hakhatz.devへようこそ!</h1>
                <p>
                    白捌(はくはつ/hakhatz)のウェブサイトです。このサイトは現在準備中です。今後のプロジェクトやコンテンツはこちらで公開される予定です。
                </p>
            </hgroup>
            <h2>サブページ</h2>
            <nav>
                <ul>
                    <li><a href="/profile/index.html">プロフィール</a></li>
                    <li><a href="/sandbox/index.html">サンドボックス</a></li>
                    <li><a href="/template/index.html">テンプレート</a></li>
                </ul>
            </nav>

            <h2>リンク</h2>
            <nav>
                <ul>
                    <li>
                        <a
                            href="https://github.com/hakhatz2486"
                            target="_blank"
                            rel="noopener noreferrer">GitHub</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://atcoder.jp/users/hakhatz2486"
                            target="_blank"
                            rel="noopener noreferrer">AtCoder</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://x.com/hakhatz2486"
                            target="_blank"
                            rel="noopener noreferrer">X</a
                        >
                    </li>
                </ul>
            </nav>
        </article>
    </main>
</Layout>
