---
// src/layouts/Layout.astro
interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
const displayTitle = title ? `${title} - hakhatz.dev` : "hakhatz.dev";
const displayDescription = description || "白捌(hakhatz)のウェブサイトです。";
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="/images/hakhatz2486_32.ico" sizes="32x32" />
        <link rel="icon" href="/images/hakhatz2486_48.ico" sizes="48x48" />

        <title>{displayTitle}</title>
        <meta name="description" content={displayDescription} />
    </head>
    <body>
        <header>
            <p><a href="/">hakhatz.dev</a></p>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            <p>&copy; 2026 hakhatz</p>
            <p>
                <a href="https://github.com/hakhatz2486/hakhatz-dev"
                    >GitHub - hakhatz2486/hakhatz-dev</a
                >
            </p>
        </footer>
    </body>
</html>
